---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import RecentPublications from "../components/RecentPublications.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full max-w-screen-md mx-auto my-4 dark:bg-neutral-800 dark:text-neutral-300 transition-colors duration-300" >
    <Header />
    <main class="flex flex-col justify-center">
      <div class="px-4 md:px-16 flex flex-col gap-4 md:my-10">
        <h1 class="text-2xl md:text-5xl w-full">CamboPixdia</h1>
        <p class="w-full text-justify text-base md:text-lg">
Snapshots of a Nation. Cambodia in Every Frame.
        </p>
      </div>
      <div class="w-full flex flex-col items-center gap-2.5 px-4 lg:px-0 mt-6">
<img
    src="https://images.unsplash.com/photo-1509634612874-dbf1c75cecff?auto=format&fit=crop&w=1200&q=80"
    alt="Snow-covered mountains with trees in the foreground"
    width="1200"
    height="800"
    loading="lazy"
  />
        </p>

      </div>
	  <RecentPublications />
	      </main>
    <Footer />
  </body>
</html>

